@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Duru+Sans&family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:wght@100;400;500&family=Roboto+Mono&family=Roboto:wght@500;900&family=Rubik:wght@800&display=swap');


.section-2 {
    width: 100%;
    height: 100vh;
    background-color: black;
    border: 5px solid grey;
    font-family: 'Poppins', sans-serif;

}
.about-me {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}
.image-cont img{    
    width: 620px;
    border: 5px solid white;
}

.text-2 {
    color: white;
    font-size: 25px;
    line-height: 45px;
    border: 2px solid #fff;
    padding: 40px;
}

.text-2 p {
    border-top: 2px solid white;
}

@media screen and (max-width:960px) {
    .section-2 {
        width: 100%;
        height: 100vh;
        background-color: black;
        border: 5px solid grey;
        font-family: 'Poppins', sans-serif;
    
    }
    .about-me {
        color: white;
        justify-content: center;
        margin-top: .5rem;
    }
    
    .container-2 {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .image-cont img{    
        width: 320px;
        height: 200px;
        object-fit: cover;
        border: 5px solid white;
        margin-bottom: 1rem;
    }
    
    .text-2 {
        color: white;
        font-size: 15px;
        line-height: 30px;
        border: 2px solid #fff;
    }
    
    .text-2 p {
        border-top: 2px solid white;
    }
    
}